@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>*@
<link rel="stylesheet" href="~/Content/Home.css" />

<div class="div-center" id="intro-conteiner">
    <h2>@ViewBag.Message</h2>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@themasquerade.com">Support@TheMasquerade.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@themasquerade.com">Marketing@TheMasquerade.com</a>
    </address>
</div>