@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/Home.css" />
<div id="intro-conteiner">
    <img id="nuvola" src="~/Content/Images/Home/home.jpg" />
    <section>
        @*<img id="intro" src="~/Content/Images/Home/Intro.jpg" />*@
        <div id="home-title">
            <div id="home-title-left">
                Manage your Chronicles on line...
            </div>
            <div id="home-title-right">
                ...let's start with The Masquerade
            </div>
        </div>
        <article>
            <hr id="first-hr" class="style-eight" />
            <h3>Create your Stories and your Chronicles</h3>
            <div>
                <img src="~/Content/Images/Home/StoryChronicle.jpg" />
            </div>
        </article>
        <article>
            <hr class="style-eight" />
            <h3>Create your Players, NPC Groups and Characters</h3>
            <div>
                <img src="~/Content/Images/Home/PlayerCharacter.jpg" />
            </div>
        </article>
        <article>
            <hr class="style-eight" />
            <h3>Insert your Sessions and see the Character's history</h3>
            <div>
                <img src="~/Content/Images/Home/HystorySession.jpg" />
            </div>
        </article>
        <article>
            <hr class="style-eight" />
            <h3>Invite your Players to join Chronicles and manage their Characters</h3>
            <div>
                <img src="~/Content/Images/Home/InvitationPlayer.jpg" />
            </div>
        </article>
        <article>
            <hr class="style-eight" />
            <h3>And YES, all is responsive!</h3>
            <div>
                <img src="~/Content/Images/Home/Response.jpg" />
            </div>
        </article>
    </section>
</div>
