Hi #Full_Name,
<br /><br />
#Narrator would like that you join his stories of Vampire The Masquera. To enter in his fantstic world go to the following link:
<br /><br />
#link
<br /><br />
After the registration you can create and manage characters in each stories that your story-teller allow you to take part using the main menu entry
"Player Manager".
<br /><br />
Enjoy it!
<br /><br />
The Masquerade<br />
Support: <a href="mailto: support@the-masquerade.net">support@the-masquerade.net</a><br />
Marketing: <a href="mailto: marketing@the-masqerade.net">marketing@the-masqerade.net</a>
