body {
}

#left {
    float:left;
    width: 12%;
    margin: 0;
    padding: 0;
}

#maincontent {
    float: left;
    width: 75%;
    margin: 0;
    padding: 0;
    height:600px;
}

#pdfcontent {
    width: 100%;
    height: 100%;
}
