<script>
    function showAction() {
        $(".action-aside-content").toggle(500);
    }
</script>

<div class="content-aside">
    <div class="header-aside" onclick="showAction()">
        Create
    </div>
    <div class="action-aside-content">
        <div class="action-aside">
            <a href="~/Stories/Create/40">
                <img src="~/Content/Images/Plus.jpg" />
                New Story
            </a>
        </div>
        <div class="action-aside">
            <a href="~/Chronicles/Create">
                <img src="~/Content/Images/Plus.jpg" />
                New Chronicle
            </a>
        </div>
        <div class="action-aside">
            <a>
                <img src="~/Content/Images/Plus.jpg" />
                New Session
            </a>
        </div>
        <div class="action-aside">
            <a href="~/Players/Create">
                <img src="~/Content/Images/Plus.jpg" />
                New Player
            </a>
        </div>
        <div class="action-aside">
            <a>
                <img src="~/Content/Images/Plus.jpg" />
                New Character
            </a>
        </div>
    </div>
</div>